# This file is used by the build system to adjust CSS and JS output to support the specified browsers below.
# For additional information regarding the format and rule options, please see:
# https://github.com/browserslist/browserslist\#queries

# For the full list of supported browsers by the Angular framework, please see:
# https://angular.io/guide/browser-support

# You can see what browsers were selected by your queries by running:
#   npx browserslist

# Updated to avoid unknown Edge versions
last 1 Chrome version
last 1 Firefox version
edge >= 112 and edge <= 115
last 2 Safari major versions
last 2 iOS major versions
Firefox ESR

# Updated to avoid unknown iOS Safari versions
not ios_saf > 16

# Updated to avoid unknown Safari versions
not safari > 16
